# Required Vars
API_HASH=cd9a575457394f081ac8ca5a82673a16
API_ID= 26021206
BOT_TOKEN=7238406493:AAFzrF4mN6-W2bmNWdKgp1_8bsaoM48k8Yg
DATABASE_URI=mongodb+srv://goingmerry:0rXMU6ye5koyo3dQ@groupmangment.aynnwzv.mongodb.net/?retryWrites=true&w=majority&appName=groupMangment
LOG_CHANNEL=7058357442

# Optional Vars
SUDO=7058357442,7129472575
DATABASE_NAME=goingmerry
SUPPORT_CHAT=
COMMAND_HANDLER=!,/,.
USER_SESSION=
OPENAI_API=
BARD_API=
CURRENCY_API=
